/* Style for the header */
header {
  background-color: #333;
  color: white;
  padding: 5px;
  text-align: center;
}

/* Style for the navigation menu */
nav {
  display: inline-block;
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background-color: red;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

/* Style for the main content */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery img {
  margin: 10px;
}

/* Style for the footer */
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.contacts {
  margin-top: 5px;
}
